{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Muokkaa askaretta</h1>

{% if errors != null %}
    {% for error in errors %}
        <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
{% endif %}

<form method="post" action="{{base_path}}/list/{{errand.id}}/edit">
    <div class="form-group">
        <label>Askare</label>
        <input type="text" class="form-control" value="{{errand.description}}" name="description">
    </div>
    
    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="number" class="form-control" value="{{errand.priority}}" name="priority">
    </div>
    
    <div class="form-group">
        <label>Deadline</label>
        <input type="date" class="form-control" value="{{errand.deadline}}" name="deadline">
    </div>
    
    <div class="form-group">
        <label>Luokka</label>
        <select multiple class="form-control" name="categories[]">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    
    <button type="submit" class="btn btn-success btn-lg">Vahvista</button>
</form>
{% endblock %}
