{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Muokkaa askaretta</h1>

<form>
    <div class="form-group">
        <label>Askare</label>
        <input type="text" class="form-control" value="{{errand.description}}">
    </div>
    
    <!--Miten ihmeessä saan nää formin tyypit ja php tyypit yhteneväksi-->
    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="number" class="form-control" value="10">
    </div>
    
    <div class="form-group">
        <label>Deadline</label>
        <input type="date" class="form-control" value="2016-04-04">
    </div>
    
    <div class="form-group">
        <label>Luokka</label>
        <select multiple class="form-control">
            <option>Luokka1</option>
            <option>Luokka2</option>
            <option>Luokka3</option>
            <option>Luokka4</option>
            <option>Luokka5</option>
            <option>Luokka6</option>
            <option>Luokka7</option>
        </select>
    </div>
    
    <a class="btn btn-success btn-lg" href="{{base_path}}/list" onclick="form.submit()">Vahvista</a>
</form>
{% endblock %}