{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="page-header">Käyttäjän {{user_logged_in.username}} muistilista</h1>
</div>    

{% if message != null %}
    <div class="alert alert-success">{{message}}</div>
{% endif %}

<div class="row">
    <div class="col-md-2">
        
        <table class="table small table-bordered">
            <thead>
                <tr>
                    <th>Luokat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td><a href="{{base_path}}/list">Kaikki askareet</a></td> 
                </tr>
                {% for category in categories %}
                    <tr>
                        <td><a href="{{base_path}}/list/{{category.id}}">{{category.name}}</a></td>
                        <form method="post" action="{{base_path}}/category/{{category.id}}/delete">
                            <td><button class="btn-xs btn-danger" type="submit">X</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>

        </table>  
    </div>
    
    <div class="col-md-10">
        <p>
            <a href="{{base_path}}/list/add" class="btn btn-sm btn-success">Lisää askare</a>
            <a href="{{base_path}}/category/add" class="btn btn-sm btn-success">Luo uusi luokka</a>
        </p>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Askare</th>
                    <th>Tärkeysaste</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for errand in errands %}
                <tr>
                    <td>{{errand.description}}</td>
                    <td>{{errand.priority}}</td>
                    <td>{{errand.deadline}}</td>
                    <td>
                        {% if errand.completed %}
                        <form method="post" action="{{base_path}}/list/{{errand.id}}/toggle">
                            <button class="btn btn-success" type="submit">suoritettu</button></td>
                        </form>
                        {% else %}
                        <form method="post" action="{{base_path}}/list/{{errand.id}}/toggle">
                            <button class="btn btn-danger" type="submit">kesken</button></td>
                        </form>
                        {% endif %}
                    <td><a class="btn btn-default btn-sm" href="{{base_path}}/list/{{errand.id}}/edit">Muokkaa</a></td>
                    <form method="post" action="{{base_path}}/list/{{errand.id}}/delete">
                        <td><button class="btn btn-danger btn-sm" type="submit">Poista</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
  
{% endblock %}
