{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="page-header">Käyttäjän Joonas muistilista</h1>
</div>    
    
<div class="row">
    <div class="col-md-2">
        <ul class="list-unstyled">
            <li><a href="#">Kaikki askareet</a></li>
            <li><a href="#">Listat tulee tähän</a></li>
        </ul>  
    </div>
    
    <div class="col-md-10">
        <p>
            <a href="{{base_path}}/list/add" class="btn btn-sm btn-success">Lisää askare</a>
        </p>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Askare</th>
                    <th>Tärkeysaste</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for errand in errands %}
                <tr>
                    <td>{{errand.description}}</td>
                    <td>{{errand.priority}}</td>
                    <td>{{errand.deadline}}</td>
                    <td>
                        {% if errand.completed %}
                            <label class="label label-success">suoritettu</label></td>
                        {% else %}
                            <label class="label label-danger">kesken</label></td>
                        {% endif %}
                    <th><a class="btn btn-default btn-sm" href="{{base_path}}/list/{{errand.id}}/edit">Muokkaa</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
  
{% endblock %}
